.game-container {
  display: grid;
  gap: 0px;
}

.cell {
  border: 1px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.alive {
  background-color: #978D58;
}

@media (max-width: 800px) {
  .game-container {
    grid-template-columns: repeat(20, '5px');
    grid-template-rows: repeat(20, '5px');
  }

  .cell {
    width: 5px;
    height: 5px;
  }
}