.controls {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  margin-left: 20px;
  width: 100%;
}

.input-container {
  display: flex;
  grid-column: 1 / -1;
}

.input-container label {
  font-size: 20px;
  color: #EAE1E1;
  width: 90px;
}

input[type="range"] {
  background: #EAE1E1;
  margin-left: 20px;
  width: 100%;
  color: #0B5269;
}

.control {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.control-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0B5269;
  color: #EDEDED;
  font-size: 16px;
  cursor: pointer;
  flex-grow: 1;
}

button:hover {
  background-color: #978D58;
}

.options {
  display: flex;
  justify-content: center;
}

.options label {
  margin-right: 10px;
  font-size: 20px;
  color: #EAE1E1;
}

.options select {
  font-size: 16px;
  background-color: #0B5269;
  color: #EDEDED;
  cursor: pointer;
  text-align: center;
}

.description {
  grid-column: 1 / -1;
  text-align: center;
}

.pattern-name {
  font-size: 24px;
  margin-bottom: 10px;
  color: #978D58;
}

.pattern-description {
  font-size: 20px;
  color: #EAE1E1;
}
