.controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type="range"] {
  width: 50%;
  background: #f54d4d;

}

input[type="range"]::-webkit-slider-runnable-track {
  background: #f54d4d;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  margin-top: -4px;
  height: 2rem;
  width: 1rem;    
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f54d4d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff6666;
}

@media (max-width: 1000px) {
  .controls {
    flex-direction: row;
    margin-left: 25%;
  }
}