body {
  background-color: #03051E;
}

.gameoflife {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 20px;
}

.game-of-life-header {
  width: 50%;
  align-self: flex-start;
  text-align: center;
  flex-direction: column;
  color: #978D58;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  margin-top: 15px;
}

@media (max-width: 1300px) {
  .contents {
    flex-direction: column;
    margin-left: 100px;
  }

  .game-of-life-header {
    width: 100%;
    align-items: center;
  }
}
